{% extends 'blog/base.html' %}

{% block title %}Share a post{% endblock %}

{% block content %}
 {% if sent %}
    <h1>E-mail successfully sent</h1>
    <a href="{% url "blog:post_list" %}">get back to blog</a>
    <p>
    "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
    </p>
 {% else %}
    <h1>Share "{{ post.title }}" by e-mail</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Send Email">
    </form>
 {% endif %}
{% endblock content %}

